/* About Headline */

.about-headline {
    background: $light-grey;
    padding: $section-padding-small;
    h2 {
        margin-bottom: 30px;
    }
    h3 {
        margin-bottom: 0;
        color: theme-color("secondary");
    }
}

/* About Data */

.about-data {
    padding: $section-padding;
    @include media-breakpoint-down(sm) {
        padding: $section-padding-small;
    }
    .about-data__map {
        position: relative;
        z-index: 50;
        margin-right: -200px;
        margin-top: -200px;
        margin-bottom: -200px;
        @include media-breakpoint-down(lg) {
            margin-right: -80px;
        }
        @include media-breakpoint-down(md) {
            margin-right: 0;
            margin-top: 30px;
            margin-bottom: 0;
        }
        img {
            width: 100%;
            height: auto;
        }
    }
}

/* About Vehicles */

.about-vehicles {
    background: $light-grey;
    padding: $section-padding-small;
    h2 {
        margin-bottom: 30px;
    }
    h3 {
        margin-bottom: 0;
        color: theme-color("secondary");
    }
    .about-vehicles__container {
        display: flex;
        flex-flow: row wrap;
        margin-top: 80px;
        @include media-breakpoint-down(md) {
            margin-top: 40px;
        }
        .vehicle {
            flex: 1;
            color: theme-color("secondary");
            font-weight: $font-weight-bold;
            @include media-breakpoint-down(lg) {
                flex: 0 0 20%;
                width: 20%;
                max-width: 20%;
                margin-bottom: 30px;
            }
            @include media-breakpoint-down(md) {
                flex: 0 0 33.33333333%;
                width: 33.33333333%;
                max-width: 33.33333333%;
                margin-bottom: 30px;
            }
            @include media-breakpoint-down(sm) {
                flex: 0 0 100%;
                width: 100%;
                max-width: 100%;
                margin-bottom: 30px;
            }
            img {
                display: block;
                width: 140px;
                height: 140px;
                border-radius: 50%;
                margin: 0 auto;
                margin-bottom: 10px;
            }
            span {
                display: block;
                font-size: 24px;
            }
        }
    }
}