/* Contact */

.contact-details {
    padding: $section-padding;
    background: $light-grey;
    @include media-breakpoint-down(sm) {
        padding: $section-padding-small;
    }
    p {
        font-size: $font-size-lg;
        font-weight: $font-weight-bold;
        @include media-breakpoint-down(sm) {
            font-size: $font-size-base;
        }
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-bottom: 50px;
        margin-top: 30px;
        li {
            font-weight: $font-weight-bold;
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
            &:before {
                content: "\e64c";
                font-family: "themify";
                color: theme-color("secondary");
                position: relative;
                top: 1px;
                margin-right: 10px;
            }
        }
    }
    a {
        color: theme-color("secondary");
        font-weight: $font-weight-bold;
    }
    .contact-details__form {
        @include media-breakpoint-down(md) {
            margin-top: 40px;
        }
        .title {
            background: theme-color("secondary");
            color: $white;
            font-weight: $font-weight-bold;
            padding: 15px 30px;
            font-size: 24px;
            @include media-breakpoint-down(sm) {
                padding: 15px;
            }
        }
        form {
            position: relative;
            padding: 30px;
            background: $white;
            @include media-breakpoint-down(sm) {
                padding: 15px;
            }
            input,
            textarea {
                width: 100%;
                height: auto;
                padding: 10px;
                border: solid 1px #ccc;
                margin-bottom: 20px;
                outline: none;
            }
            .textarea {
                position: relative;
                textarea {
                    margin-bottom: 0;
                }
                button {
                    position: absolute;
                    bottom: -15px;
                    right: -20px;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    border: none;
                    background: theme-color("secondary");
                    cursor: pointer;
                    transition: all 0.3s ease;
                    i {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        color: $white;
                        font-size: 22px;
                    }
                    &:hover {
                        background: theme-color("primary");
                    }
                }
            }
            .privacy {
                position: relative;
                display: flex;
                align-items: flex-start;
                margin-top: 30px;
                input {
                    position: absolute;
                    opacity: 0;
                    width: 1px;
                }
                span {
                    flex: 0 0 20px;
                    width: 20px;
                    height: 20px;
                    border: solid 1px #ccc;
                    display: block;
                    margin-right: 10px;
                    position: relative;
                    top: 2px;
                }
                input:checked + span:before {
                    content: "\e64c";
                    font-family: "themify";
                    color: theme-color("secondary");
                    font-size: 14px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            &:before {
                content: "";
                width: 0; 
                height: 0; 
                border-left: 12px solid transparent;
                border-right: 12px solid transparent;
                border-top: 12px solid theme-color("secondary");
                position: absolute;
                top: 0;
                left: 30px;
                @include media-breakpoint-down(sm) {
                    left: 15px;
                    border-left: 8px solid transparent;
                    border-right: 8px solid transparent;
                    border-top: 8px solid theme-color("secondary");
                }
            }
        }
    }
}

/* Contact Map */

.contact-map {
    padding: $section-padding;
    background: $dark-grey;
    @include media-breakpoint-down(sm) {
        padding: $section-padding-small;
    }
    .map {
        margin-left: -200px;
        @include media-breakpoint-down(lg) {
            margin-left: -80px;
        }
        @include media-breakpoint-down(md) {
            margin-left: 0;
        }
    }
    .select-container {
        position: relative;
        display: inline-block;
        margin-bottom: 40px;
        select {
            padding: 10px 60px 10px 10px;
            outline: none;
            border: solid 1px #ccc;
            -webkit-appearance: none;
            -moz-appearance: none;
        }
        &:after {
            content: "\e64b";
            font-family: "themify";
            color: theme-color("secondary");
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .location {
        display: none;
        .title {
            background: theme-color("secondary");
            color: $white;
            font-weight: $font-weight-bold;
            padding: 15px 30px;
            @include media-breakpoint-down(sm) {
                padding: 15px;
            }
        }
        .info {
            background: $white;
            padding: 30px;
            @include media-breakpoint-down(sm) {
                padding: 15px;
            }
            .open {
                margin-bottom: 30px;
                span {
                    display: block;
                    font-weight: $font-weight-bold;
                }
            }
        }
    }
}

/* Contact Portal */

.contact-portal {
    padding: $section-padding;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    color: $white;
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
    @include media-breakpoint-down(sm) {
        padding: $section-padding-small;
        font-size: $font-size-base;
    }
    h2 {
        margin-bottom: 20px;
    }
    .button {
        font-size: $font-size-base;
        margin-top: 30px;
    }
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $black;
        opacity: 0.4;
    }
}