/* HTML / Body */

body {
    position: relative;
    left: 0;
    transition: all 0.3s ease;
    @include media-breakpoint-down(sm) {
        font-size: 1rem;
    }
    &.open-nav {
        left: -80%;
    }
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 20vh;
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#00ffffff",GradientType=0 );
        z-index: 100;
    }
}

/* Connection Check */

.connection-check {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    background: $light-grey;
    transform: translateY(100%);
    transition: all 0.3s ease;
    .connection-check__toggle {
        background: theme-color("primary");
        position: absolute;
        left: 50%;
        bottom: 100%;
        transform: translateX(-50%);
        padding: 20px 80px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        cursor: pointer;
        white-space: nowrap;
        transition: all 0.5s ease;
        @include media-breakpoint-down(lg) {
            padding: 15px 60px;
        }
        @include media-breakpoint-down(md) {
            padding: 15px 40px;
        }
        span {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background: theme-color("primary");
            display: block;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -40px;
            @include media-breakpoint-down(lg) {
                width: 70px;
                height: 70px;
                top: -35px;
            }
            @include media-breakpoint-down(sm) {
                width: 60px;
                height: 60px;
                top: -30px;
            }
            i {
                color: $white;
                position: absolute;
                top: 45%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 32px;
                @include media-breakpoint-down(lg) {
                    font-size: 24px;
                }
                @include media-breakpoint-down(sm) {
                    font-size: 20px;
                }
            }
        }
        .text {
            color: $white;
            font-weight: $font-weight-bold;
            font-size: $font-size-md;
            position: relative;
            @include media-breakpoint-down(md) {
                font-size: $font-size-base;
            }
            i {
                position: relative;
                font-size: 1rem;
                transition: all 0.3s ease;
                display: inline-block;
            }
        }
    }
    .connection-check__inner {
        padding: 30px 0;
        font-size: 1rem;
        form {
            display: flex;
            justify-content: space-between;
        }
        .form-container {
            flex-shrink: 1;
            display: flex;
        }
        .input-start-city {
            position: relative;
            input {
                background: $white;
                border: solid 1px $text-color;
                height: auto;
                padding: 5px 20px 5px 35px;
                outline: none;
                max-width: 200px;
            }
            i {
                color: theme-color("secondary");
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 10px;
            }
        }
        .input-start-point {
            position: relative;
            input {
                background: $white;
                border: solid 1px $text-color;
                height: auto;
                padding: 5px 5px 5px 20px;
                outline: none;
                border-left: none;
                max-width: 200px;
            }
            span {
                width: 24px;
                height: 24px;
                display: block;
                position: absolute;
                top: 50%;
                right: 0;
                margin-right: -12px;
                transform: translateY(-50%);
                display: block;
                border-radius: 50%;
                border: solid 1px $text-color;
                background: $white;
                cursor: pointer;
                z-index: 10;
                i {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
        .input-end-city {
            position: relative;
            input {
                background: $white;
                border: solid 1px $text-color;
                height: auto;
                padding: 5px 20px 5px 45px;
                outline: none;
                border-left: none;
                max-width: 200px;
            }
            i {
                color: theme-color("secondary");
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 20px;
            }
        }
        .input-end-point {
            input {
                background: $white;
                border: solid 1px $text-color;
                height: auto;
                padding: 5px 5px 5px 20px;
                outline: none;
                border-left: none;
                max-width: 200px;
            }
        }
        .input-date {
            border: solid 1px $text-color;
            display: flex;
            margin-left: 20px;
            .left,
            .right {
                position: relative;
                height: 100%;
                width: 20px;
                cursor: pointer;
                i {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: theme-color("secondary");
                    font-size: 14px;
                }
            }
            input {
                border: none;
                background: $white;
                height: auto;
                padding: 5px 10px;
                outline: none;
                width: 100px;
            }
        }
        .date-toggle {
            border: solid 1px $text-color;
            height: 36px;
            width: 36px;
            position: relative;
            cursor: pointer;
            margin-left: 20px;
            i {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .input-time {
            border: solid 1px $text-color;
            display: flex;
            margin-left: 20px;
            .left,
            .right {
                position: relative;
                height: 100%;
                width: 20px;
                cursor: pointer;
                i {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: theme-color("secondary");
                    font-size: 14px;
                }
            }
            input {
                border: none;
                background: $white;
                height: auto;
                padding: 5px 10px;
                outline: none;
                line-height: 1.4;
                width: 65px;
            }
            input[type="time"]::-webkit-calendar-picker-indicator {
                display: none;
                -webkit-appearance: none;
                background: none;
            }
        }
        button {
            border: none;
            padding: 5px 15px;
        }
    }
    &.show {
        transform: translateY(0);
        .connection-check__toggle {
            .text {
                i {
                    transform: rotateZ(180deg);
                }
            }
        }
    }
    &.moved {
        .connection-check__toggle {
            transform: translateX(-50%) translateY(200%);
        }
    }
}

/* Datepicker */

.datepicker-panel > ul > li.picked, .datepicker-panel > ul > li.picked:hover {
    color: theme-color("primary");
}

/* Sidebar */

.sidebar {
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 999999;
    a {
        display: block;
        height: 65px;
        width: 65px;
        position: relative;
        @include media-breakpoint-down(sm) {
            height: 55px;
            width: 55px;
        }
        i {
            color: $white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 28px;
            @include media-breakpoint-down(sm) {
                font-size: 24px;
            }
        }
        &.download {
            background: theme-color("secondary");
            border-top-left-radius: 20px;
        }
        &.map {
            background: theme-color("primary");
            border-bottom-left-radius: 20px;
        }
    }
}

/* Search Overlay */

.search-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999999;
    background: rgba(238,113,0, 0.8);
    text-align: center;
    display: none;
    flex-flow: row wrap;
    align-items: center;
    color: $white;
    .close {
        position: absolute;
        top: 40px;
        right: 40px;
        color: $white !important;
        cursor: pointer;
        z-index: 100;
        font-size: 30px;
        opacity: 1 !important;
        text-shadow: none;
        transform-origin: center center;
        transition: all 0.3s ease;
        @include media-breakpoint-down(sm) {
            top: 20px;
            right: 20px;
            font-size: 24px;
        }
        &:hover {
            transform: rotateZ(180deg);
        }
    }
    form {
        display: flex;
        input {
            border: solid 1px $white;
            background: transparent;
            color: $white;
            height: auto;
            width: 100%;
            padding: 10px;
            outline: none;
        }
        ::placeholder {
            color: $white;
            opacity: 1;
        }
        :-ms-input-placeholder {
            color: $white;
        }
        ::-ms-input-placeholder {
            color: $white;
        }
        button {
            display: inline-block;
            padding: 10px 20px;
            background: $white;
            color: theme-color("secondary");
            border: none;
            transition: all 0.3s ease;
            &:hover {
                background: theme-color("primary");
                color: $white;
            }
        }
    }
}

/* Number */

.global-number {
    padding: 50px 0;
    span {
        display: block;
        height: 50px;
        width: 50px;
        background: theme-color("secondary");
        color: $white;
        position: relative;
        border-radius: 50%;
        margin: 0 auto;
        font-size: 20px;
        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .global-number__number {
        font-size: $font-size-lg;
        font-weight: $font-weight-bold;
        color: theme-color("primary");
        margin-top: 15px;
        @include media-breakpoint-down(md) {
            font-size: $font-size-md;
        }
        @include media-breakpoint-down(sm) {
            font-size: $font-size-base;
            line-height: 1.2;
        }
    }
    .global-number__costs {
        font-size: 1rem;
        @include media-breakpoint-down(sm) {
            margin-top: 10px;
        }
    }
}

/* Text Image */

.text-image {
    padding: $section-padding;
    position: relative;
    z-index: 20;
    @include media-breakpoint-down(sm) {
        padding: $section-padding-small;
    }
    img {
        width: 100%;
        height: auto;
        @include media-breakpoint-down(md) {
            margin: 30px 0;
        }
    }
    h2,
    h3 {
        color: theme-color("secondary");
    }
    .headline {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
        h2 {
            color: $text-color;
            margin-bottom: 0;
        }
        h3 {
            margin-top: 10px;
        }
        img {
            height: 70px;
            width: auto;
            margin: 0;
            @include media-breakpoint-down(sm) {
                height: 40px;
            }
        }
        &.block {
            display: block;
        }
    }
    .button {
        margin-top: 30px;
    }
    .negative-right {
        margin-right: -200px;
        @include media-breakpoint-down(lg) {
            margin-right: -80px;
        }
        @include media-breakpoint-down(md) {
            margin-right: 0;
        }
    }
    .negative-left {
        margin-left: -200px;
        @include media-breakpoint-down(lg) {
            margin-left: -80px;
        }
        @include media-breakpoint-down(md) {
            margin-left: 0;
        }
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        columns: 2;
        margin-bottom: 20px;
        @include media-breakpoint-down(sm) {
            columns: 1;
        }
        li {
            margin-bottom: 10px;
            i {
                color: theme-color("secondary");
                margin-right: 10px;
                position: relative;
                top: 1px;
            }
        }
    }
    .links {
        margin-top: 80px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        @include media-breakpoint-down(md) {
            margin-top: 60px;
        }
        @include media-breakpoint-down(sm) {
            margin-top: 40px;
        }
        .links__single {
            flex: 0 0 31%;
            background: theme-color("secondary");
            display: block;
            color: $white;
            text-align: center;
            padding: 10px;
            margin-bottom: 3%;
            transition: all 0.3s ease;
            @include media-breakpoint-down(md) {
                flex: 0 0 48%;
                margin-bottom: 4%;
            }
            @include media-breakpoint-down(sm) {
                flex: 0 0 100%;
                margin-bottom: 15px;
            }
            &:hover {
                background: theme-color("primary");
            }
        }
    }
    .accordion {
        margin-top: 80px;
        @include media-breakpoint-down(md) {
            margin-top: 60px;
        }
        @include media-breakpoint-down(sm) {
            margin-top: 40px;
        }
        .accordion__single {
            margin-bottom: 20px;
            @include media-breakpoint-down(sm) {
                margin-bottom: 15px;
            }
            .title {
                background: $white;
                padding: 15px;
                display: flex;
                align-items: center;
                cursor: pointer;
                i {
                    color: theme-color("secondary");
                    font-size: 24px;
                    margin-right: 15px;
                }
                .lines {
                    margin-left: auto;
                    span {
                        font-weight: $font-weight-bold;
                    }
                }
                &.open {
                    background: theme-color("secondary");
                    color: $white;
                    i {
                        color: $white;
                    }
                }
            }
            .content {
                display: none;
                background: $white;
                .inner {
                    padding: 20px;
                    a {
                        color: theme-color("secondary");
                    }
                    .content__block {
                        margin-bottom: 30px;
                        span {
                            display: block;
                            font-weight: $font-weight-bold;
                        }
                        &:last-of-type {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
    table {
        tr {
            td {
                font-weight: $font-weight-bold;
                &:first-child {
                    padding-right: 30px;
                }
            }
        }
    }
    &.no-pt {
        padding-top: 0;
    }
    &.no-pb {
        padding-bottom: 0;
    }
    &.no-p {
        padding: 0;
    }
    &.grey-bg {
        background: $light-grey;
    }
    &.dark-grey-bg {
        background: $dark-grey;
    }
}

/* Header */

.header {
    width: 100%;
    height: 65vh;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    overflow: hidden;
    .header__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        transform-origin: center center;
        animation-name: header-background;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        animation-direction: normal;
        animation-duration: 10s;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $black;
            opacity: 0.25;
            z-index: 10;
        }
    }
    .header__text {
        color: $white;
        position: relative;
        z-index: 20;
        padding-bottom: 30px;
        @include media-breakpoint-down(sm) {
            padding-bottom: 20px;
        }
    }
}

/* Page Overview */

.page-overview {
    background: $light-grey;
    padding: $section-padding;
    @include media-breakpoint-down(sm) {
        padding: $section-padding-small;
    }
    .page-overview__single {
        position: relative;
        height: 450px;
        overflow: hidden;
        margin-bottom: 30px;
        @include media-breakpoint-down(lg) {
            margin-bottom: 30px;
        }
        @include media-breakpoint-down(md) {
            height: 400px;
        }
        @include media-breakpoint-down(sm) {
            margin-bottom: 15px;
        }
        .background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            transition: all 1.3s cubic-bezier(0.43, 0.195, 0.02, 1);
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: $black;
                opacity: 0.25;
                z-index: 10;
            }
            &:hover {
                transform: scale(1.2);
            }
        }
        .text {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 30px;
            z-index: 20;
            color: $white;
        }
    }
    &.white-bg {
        background: $white;
    }
}

/* Downloads */

.downloads {
    background: $light-grey;
    padding: $section-padding;
    @include media-breakpoint-down(sm) {
        padding: $section-padding-small;
    }
    .downloads__filter {
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        @include media-breakpoint-down(sm) {
            display: block;
        }
        .title {
            font-weight: $font-weight-bold;
            font-size: 24px;
            margin-right: 30px;
            @include media-breakpoint-down(sm) {
                margin-right: 0;
                margin-bottom: 20px;
            }
        }
        .select-container {
            position: relative;
            display: inline-block;
            select {
                padding: 10px;
                min-width: 200px;
                border: solid 1px $text-color;
                outline: none;
                -webkit-appearance: none;
                -moz-appearance: none;
            }
            &:after {
                content: "\e64b";
                font-family: "themify";
                color: theme-color("secondary");
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    .downloads__list {
        display: flex;
        flex-flow: row wrap;
        margin: 0 -15px;
        .download {
            flex: 0 0 25%;
            max-width: 25%;
            padding: 0 15px;
            margin-bottom: 30px;
            @include media-breakpoint-down(lg) {
                flex: 0 0 33.33333%;
                max-width: 33.33333%;
            }
            @include media-breakpoint-down(md) {
                flex: 0 0 50%;
                max-width: 50%;
            }
            @include media-breakpoint-down(sm) {
                flex: 0 0 100%;
                max-width: 100%;
                margin-bottom: 15px;
            }
            .text {
                background: $white;
                text-align: center;
                padding: 20px;
                .title {
                    font-weight: $font-weight-bold;
                }
            }
            a {
                background: theme-color("secondary");
                color: $white;
                display: block;
                text-align: center;
                padding: 20px 15px;
                font-weight: $font-weight-bold;
                position: relative;
                transition: all 0.3s ease;
                &:before {
                    content: "";
                    width: 0; 
                    height: 0; 
                    border-left: 12px solid transparent;
                    border-right: 12px solid transparent;
                    border-top: 12px solid $white;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
                &:after {
                    content: "\e6a7";
                    font-family: "themify";
                    position: absolute;
                    right: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 22px;
                    font-weight: normal;
                }
                &:hover {
                    background: theme-color("primary");
                }
            }
        }
    }
}

/* Row-Jumper */

.row-jumper {
    background: $dark-grey;
    padding: 30px 0;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            display: inline-block;
            margin-right: 50px;
            a {
                color: $text-color;
                font-weight: $font-weight-bold;
                transition: all 0.3s ease;
                &:hover {
                    color: theme-color("secondary");
                }
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

/* Content Section */

.content-section {
    padding: $section-padding;
    padding-top: 0;
    @include media-breakpoint-down(sm) {
        padding: $section-padding-small;
        padding-top: 0;
    }
    h2 {
        margin-bottom: 30px;
    }
    h3 {
        color: theme-color("secondary");
        margin-top: 30px;
    }
}