/* History Headline */

.history-headline {
    padding: $section-padding-small;
    h2 {
        margin-bottom: 30px;
    }
    h3 {
        margin-bottom: 0;
        color: theme-color("secondary");
    }
}

/* History */

.history__date {
    position: absolute;
    background: theme-color("primary");
    padding: 20px 40px;
    color: $white;
    font-weight: $font-weight-bold;
    transform: translate(40px, -18px);
    line-height: 1;
    &:before {
        content: "";
        position: absolute;
        width: 0; 
        height: 0; 
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent; 
        border-right:10px solid theme-color("primary");
        right: 100%;
        top: 50%;
        transform: translateY(-50%);
    }
}

.history {
    overflow: hidden;
    .history__content {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 500px;
        background: $dark-grey;
        z-index: 9999999;
        padding: 80px 30px 30px 30px;
        transform: translateX(-100%);
        transition: all 0.3s ease;
        overflow: auto;
        @include media-breakpoint-down(sm) {
            width: 100%;
            padding: 40px 15px 15px 15px;
        }
        .close {
            position: absolute;
            top: 30px;
            right: 30px;
            font-size: 20px;
            color: theme-color("secondary");
            opacity: 1 !important;
            cursor: pointer;
            text-shadow: none;
            @include media-breakpoint-down(sm) {
                top: 15px;
                right: 15px;
            }
        }
        h3 {
            margin-bottom: 40px;
        }
        img {
            width: 100%;
            height: auto;
            margin-top: 30px;
        }
        &.visible {
            transform: translateX(0);
        }
    }
    svg {
        width: 100%;
        height: auto;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        @include media-breakpoint-down(lg) {
            height: 350vh;
            width: auto;
        }
        @include media-breakpoint-down(md) {
            height: 400vh;
            width: auto;
        }
        @include media-breakpoint-down(sm) {
            height: 500vh;
            width: auto;
        }
        .point {
            opacity: 0;
            cursor: pointer;
            transition: all 0.3s ease;
            position: relative;
            &:before {
                content: "";
                top: 0;
                left: 0;
                width: 30px;
                height: 30px;
                display: block;
                background: #000000;
            }
            &.visible {
                opacity: 1;
            }
        }
    }
}