/* History Headline */

.history-headline {
    padding: $section-padding-small;
    h2 {
        margin-bottom: 30px;
    }
    h3 {
        margin-bottom: 0;
        color: theme-color("secondary");
    }
}

/* History */

.history {
    position: relative;
    overflow: hidden;
    .history__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        opacity: 0.4;
    }
    .history__content {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 500px;
        background: $dark-grey;
        z-index: 9999999;
        padding: 80px 30px 30px 30px;
        transform: translateX(-100%);
        transition: all 0.3s ease;
        overflow: auto;
        @include media-breakpoint-down(sm) {
            width: 100%;
            padding: 40px 15px 15px 15px;
        }
        .close {
            position: absolute;
            top: 30px;
            right: 30px;
            font-size: 20px;
            color: theme-color("secondary");
            opacity: 1 !important;
            cursor: pointer;
            text-shadow: none;
            @include media-breakpoint-down(sm) {
                top: 15px;
                right: 15px;
            }
        }
        h3 {
            margin-bottom: 40px;
        }
        img {
            width: 100%;
            height: auto;
            margin-top: 30px;
        }
        &.visible {
            transform: translateX(0);
        }
    }
    .history__timeline {
        position: relative;
        padding: $section-padding;
        @include media-breakpoint-down(sm) {
            padding: $section-padding-small;
        }
        .timeline-item {
            display: flex;
            flex-flow: row wrap;
            position: relative;
            margin-bottom: 120px;
            opacity: 0;
            transition: all 0.5s ease;
            @include media-breakpoint-down(sm) {
                margin-bottom: 80px;
            }
            .text {
                flex: 0 0 50%;
                width: 50%;
                padding-right: 60px;
                @include media-breakpoint-down(sm) {
                    flex: 0 0 100%;
                    width: 100%;
                    padding-left: 40px !important;
                    padding-right: 0!important;
                }
                .date {
                    font-size: 44px;
                    color: theme-color("secondary");
                    font-weight: $font-weight-bold;
                    line-height: 1;
                    margin-bottom: 30px;
                    @include media-breakpoint-down(sm) {
                        font-size: 32px;
                        margin-bottom: 15px;
                    }
                }
                .title {
                    font-size: 26px;
                    line-height: 1.1;
                    margin-bottom: 25px;
                    @include media-breakpoint-down(sm) {
                        font-size: 20px;
                        margin-bottom: 20px;
                    }
                }
            }
            span {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                height: 18px;
                width: 18px;
                background: theme-color("secondary");
                display: block;
                border-radius: 50%;
                @include media-breakpoint-down(sm) {
                    left: 2px;
                }
                &:before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    background: theme-color("secondary");
                    transform-origin: center center;
                    animation-name: timeline;
                    animation-duration: 2s;
                    animation-iteration-count: infinite;
                }
            }
            &:nth-of-type(even) {
                justify-content: flex-end;
                transform: translateX(20%);
                .text {
                    padding-left: 60px;
                    padding-right: 0;
                }
                &.visible {
                    opacity: 1;
                    transform: translateX(0);
                }
            }
            &:nth-of-type(odd) {
                transform: translateX(-20%);
                &.visible {
                    opacity: 1;
                    transform: translateX(0);
                }
            }
            &:last-of-type {
                margin-bottom: 0;
            }
        }
        .line {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 0;
            width: 3px;
            background: theme-color("secondary");
            z-index: 10;
            @include media-breakpoint-down(sm) {
                left: 0;
                transform: translateX(0);
            }
        }
    }
}