/* News Overview */

.news-overview {
    padding: $section-padding;
    padding-bottom: 0;
    position: relative;
    @include media-breakpoint-down(sm) {
        padding: $section-padding-small;
        padding-bottom: 0;
    }
    .news-overview__filter {
        margin-bottom: 50px;
        .select-container {
            position: relative;
            display: inline-block;
            select {
                padding: 10px;
                min-width: 200px;
                border: solid 1px $text-color;
                outline: none;
                position: relative;
                z-index: 10;
                background: none;
                -webkit-appearance: none;
                -moz-appearance: none;
            }
            &:after {
                content: "\e64b";
                font-family: "themify";
                color: theme-color("secondary");
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    .news-overview__slider {
        .slide {
            outline: none;
            .news {
                margin-bottom: 30px;
                border: solid 1px #ccc;
                @include media-breakpoint-down(sm) {
                    margin-bottom: 15px;
                }
                .image {
                    height: 250px;
                    width: 100%;
                    display: block;
                    background-size: cover;
                    background-position: center center;
                    background-repeat: no-repeat;
                    outline: none;
                }
                .text {
                    background: $white;
                    padding: 20px;
                    min-height: 320px;
                    @include media-breakpoint-down(sm) {
                        min-height: 0;
                    }
                    h3 {
                        min-height: 66px;
                    }
                    .button {
                        margin-top: 20px;
                    }
                }
            }
        }
        .slick-dots {
            li {
                width: 12px;
                height: 12px;
                border-radius: 50%;
                border: solid 1px #ccc;
                button {
                    display: none;
                }
                &.slick-active {
                    background: theme-color("secondary");
                    border: solid 1px theme-color("secondary");
                }
            }
        }
    }
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 550px;
        background: $light-grey;
    }
}

/* News Content */

.news-content {
    padding: $section-padding;
    padding-top: 0;
    @include media-breakpoint-down(sm) {
        padding: $section-padding-small;
        padding-top: 0;
    }
    .news-content__back {
        margin-bottom: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .date {
            text-align: right;
            font-weight: $font-weight-bold;
            font-size: 24px;
            @include media-breakpoint-down(sm) {
                font-size: 20px;
            }
        }
    }
    h3,
    h4,
    h5 {
        color: theme-color("secondary");
    }
    img {
        width: 100%;
        height: auto;
    }
    p {
        margin-bottom: 30px;
    }
}